@import 'colors.light.css';

@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(font/Geist[wght].woff2) format("woff2");
}

@font-face {
      font-family: "GeistPixel";
    font-style: normal;
    font-weight: regular;
    font-display: swap;
    src: url(font/GeistPixel-Circle.woff2) format("woff2");
}

body {
  margin: 0;
  background-color: light-dark(#fff, #000);
  color:var(--color-text-primary);
  font-family: "Geist", sans-serif;
  font-size: 16px;
  font-feature-settings: "liga";
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

.text{
  color:var(--color-text-accent);
}

.text:hover{
  --color-text-accent-hover:color-mix(in oklch, var(--color-text-accent), var(--color-text-dark) 10%);
  color: var(--color-text-accent-hover);
}

.pixel{
  font-family: "GeistPixel", monospace;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

h1, h2, h3, h4 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

code {
  font-family: "GeistPixel", monospace;
  background-color: var(--color-bg-inverse);
  color:var(--color-text-primary-inverse);
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

hr{
  border: none;
  border-top: 2px solid var(--color-border-separator);
  margin: 2rem 0;
}

.chip {
  width: 160px;
  height: 80px;
  background-color: oklch(var(--light) var(--chroma) var(--hue) / 1);
}

.l50 {
  --light: .98;
  --chroma: 0.03;
}
.l100 {
  --light: .93;
  --chroma: 0.05;
}
.l200 {
  --light: .85;
  --chroma: 0.08;
}
.l300 {
  --light: .75;
  --chroma: 0.14;
}
.l400 {
  --light: .65;
  --chroma: 0.19;
}
.l500 {
  --light: .53;
  --chroma: 0.17;
}
.l600 {
  --light: .44;
  --chroma: 0.15;
}
.l700 {
  --light: .35;
  --chroma: 0.09;
}
.l800 {
  --light: .27;
  --chroma: 0.08;
}
.l900 {
  --light: .20;
  --chroma: 0.05;
}

.neutral, .neutral > *{
  --hue:145;
  --chroma: 0.013;
}

.jade{
  --hue: 164.4;
}

.blue {
  --hue: 253.3;
}

.teal{
  --hue: 200.0;
}

.purple{
  --hue: 308.4;
}

.pink{
  --hue: 355.0;
}

.green {
  --hue: 145;
}

.red{
  --hue: 28;
}

.yellow{
  --hue: 81;
}


.Hstack {
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 1px;
  color: var(--color-neutral-transparent);
}
.Vstack {
  display: flex;
  flex-direction: column-reverse;
  gap: 0px;
  margin-bottom: 0;
  color: var(--color-neutral-transparent);
}

section {
  padding: 24px;
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}
